<div class="vh-100 d-flex justify-content-center align-items-center ">
  <form class="sign-up">
    <div class="form-floating mb-3">
      <input id="inputEmail" type="email" class="form-control" placeholder="Ingrese su correo electrónico">
      <label for="inputEmail">Ingrese su correo electrónico</label>
    </div>
    <div class="form-floating mb-3">
      <input id="inputPassword" type="password" class="form-control" placeholder="Ingrese una contraseñ">
      <label for="inputPassword">Ingrese una contraseña</label>
    </div>
    <div class="form-floating mb-3">
      <input id="inputPasswordAgain" type="password" class="form-control"
        placeholder="Ingrese nuevamente la contraseña">
      <label for="inputPasswordAgain">Ingrese nuevamente la contraseña</label>
    </div>
    <button type="button" class="btn btn-outline-primary w-100 py-3 fw-bold">Registrarse</button>
  </form>
</div>
