<div class="vh-100 d-flex justify-content-center align-items-center ">
  <form class="sign-in">
    <div class="form-floating mb-3">
      <input id="inputEmail" type="email" class="form-control" placeholder="Ingrese su correo electrónico">
      <label for="inputEmail">Ingrese su correo electrónico</label>
    </div>
    <div class="form-floating mb-3">
      <input id="inputPassword" type="password" class="form-control" placeholder="Ingrese una contraseñ">
      <label for="inputPassword">Ingrese una contraseña</label>
    </div>
    <button type="button" class="btn btn-success w-100 py-2">Ingresar</button>
  </form>
</div>
