<h1>Ejercicios</h1>
<h2>1- (app.component.html) Realizar:</h2>
<p>una aplicacion que se le ingresen dos edades en dos cuadro de textos
  edadUno, EdadDos
  mostrar el promedio y la suma en dos cuadros de textos nuevos
  botones "calcular" y "limpiar cuadros de textos"</p>

  <label>EdadUno</label><input type="number" [(ngModel)]="edad1">
  <label>EdadDos</label><input type="number" [(ngModel)]="edad2">
<br>
  <label>Promedio</label><input type="number" readonly [(ngModel)]="promedio">
  <label>Suma</label><input type="number" readonly [(ngModel)]="suma">

  <br>

  <button (click)="calcular()">Calcular</button>

  <button (click)="limpiar()">Limpiar</button>






<!-- <h2>Hola {{title}}</h2>
<p>{{variableInput}}</p>

<input type="text" [(ngModel)]="variableInput">

<button (click)="cambiarTitulo('Nuevo title')"> Cambiar Titulo</button>
<button (click)="cambiarTitulo('LABORATORIO IV')"> Cambiar Titulo</button>

<br>

<input type="number" [(ngModel)]="num1">
<input type="number" [(ngModel)]="num2">
<button (click)="sumar()"> Sumar</button>

<h2>{{res}}</h2>


<br>


<img [src]="imagen" width="200px"> -->
