<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-absolute vw-100">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/welcome"><img src="./../../../favicon.ico" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome" routerLinkActive="active">Bienvenido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">Iniciar Seccion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/error" routerLinkActive="active active--error">Error</a>
        </li>
      </ul>
      <!-- <span class="navbar-text">
        Navbar text with an inline element
      </span> -->
    </div>
  </div>
</nav>
